@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap');

/* Rest */

a{
    text-decoration: none;
}
li {
    list-style: none;
}

:root{
    --blue: #002E5B;
    --yellow: #F3D94C;
    --white: #F4F4F4;
    --dark-blue: #05294B;
}

.text-roboto{
    font-family: 'Roboto', sans-serif;
}
.font-weight-700{
    font-weight: 700;
}

.font-weight-900{
    font-weight: 900;
}

.text-default{
    color: var(--blue) !important;
}

.text-default-yellow{
    color: var(--yellow) !important;
}


.feather.i-blue{
    fill: var(--blue);
    width: 22px;
}
.feather.i-stroke-white{
    stroke: var(--white);
}

.bg-default{
    background-color: var(--white);
}

.bg-default-blue{
    background-color: var(--blue);
}

.bg-default-blue-dark{
    background-color: var(--dark-blue);
}

.p-6{
    padding: 5rem !important;
}
.py-6{
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
}
.h-100{
    height: 100%;
}

.rounded-default{
    border-radius: 20px;
}
.hero-wrapper{
    background-image: url('/assets/images/circle.png');
    background-repeat: no-repeat;
    background-position: right top;
}

#headline > .text-roboto{
    font-size: 3em;
}
hr.border-yellow{
    width: 100px;
    border: 5px solid var(--yellow);
    opacity: 1;
    border-radius: 20px;
}

#company-overview{
    background-image: url('/assets/images/pexels-olia-danilevich-4974914\ 1.png');
    background-repeat: no-repeat;
    background-position: right;
    background-size:50%;
}

#v-mission{
    background-image: url('/assets/images/pexels-cottonbro-4709285\ 1.png');
    background-repeat: no-repeat;
    background-size:50%;
}

.our-value-wrapper{
    background-image: url('/assets/images/circle.png'),url('/assets/images/circle1.png');
    background-repeat: no-repeat;
    background-position: right top,bottom left;
    
}

.our-value-wrapper p{
    font-size: 0.9em
}

i.checkfill{
    background-image: url('/assets/images/icons/PatchCheckFill.png');
    background-repeat: no-repeat;
    background-size: contain;
    width: 38px;
    height: 38px;
}

.our-service{
    background-image: url('/assets/images/circle2.png'),url('/assets/images/circle3.png');
    background-repeat: no-repeat;
    background-position: left top,bottom right;
}

.services{
    margin-left: 1.8rem!important;
}

.exp-icon-project{
    background-image: url('/assets/images/icons/BriefcaseFill.png');
}

.exp-icon-awards{
    background-image: url('/assets/images/icons/StarFill.png');
}

.exp-icon-satisfied{
    background-image: url('/assets/images/icons/HandThumbsUpFill.png');
}

.exp-icon-employees{
    background-image: url('/assets/images/icons/PeopleFill.png');
}
.exp-icon{
    background-repeat: no-repeat;
    background-size: contain;
    width: 61px;
    height: 61px;
}
